.body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
}

.invision {
  display: flex;
  padding: 30px;
  flex-direction: column;
  justify-content: space-around;
}

.selection {
  position: relative;
  display: inline-flex;
  justify-content: flex-end;
  align-self: flex-end;
  flex-direction: row;
  /* left: 1100px;
  top: 20px; */
}


h1 {
  font-weight: 100 !important;
}

th {
  padding: 13px !important;
}

/* color: rgb(75, 154, 193); */


.header {
  display: inline-flex;
  border-bottom: 1px solid rgb(228, 228, 228);
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.header i {
  font-size: larger;
  align-self: center;
  margin-right: 10px;
  margin-bottom: 5px;
}


.stakeholder::before { 
  content: "SH";
  align-self: center;
  margin-left: 7px;
  padding: 3px;
  width: 10px;
  height: 5px;
  background-color: rgb(98, 119, 185);
  margin-bottom: 3px;
}

.employee::before { 
  content: "EM";
  align-self: center;
  margin-left: 7px;
  padding: 3px;
  width: 10px;
  height: 5px;
  background-color: rgb(98, 175, 185);
  margin-bottom: 3px;
}

.guest::before { 
  content: "GU";
  align-self: center;
  margin-left: 7px;
  padding: 3px;
  width: 10px;
  height: 5px;
  background-color: rgb(185, 146, 98);
  margin-bottom: 3px;
}

.supervisor::before { 
  content: "SV";
  align-self: center;
  margin-left: 7px;
  padding: 3px;
  width: 10px;
  height: 5px;
  background-color: rgb(144, 98, 185);
  margin-bottom: 3px;
}

input {
  align-self: center;
  margin-right: 5px;
}